<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Piano</title>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link href="static/main.css" rel="stylesheet">
</head>
<body id="body">
<script>
    $("#body").keypress(function(event) {
        console.log(event);
        switch(event.key) {
            case "q":
                document.getElementById("C5").play();
                break;
            case "w":
                document.getElementById("D5").play();
                break;
            case "e":
                document.getElementById("E5").play();
                break;
            case "r":
                document.getElementById("F5").play();
                break;
            case "t":
                document.getElementById("G5").play();
                break;
            case "y":
                document.getElementById("A5").play();
                break;
            case "u":
                document.getElementById("B5").play();
                break;
            case "i":
                document.getElementById("C6").play();
                break;
            default:
                console.log(event.key);
        }
    });
    function playNote(name) {
        console.log("name is");
        console.log(name);
        var audio = document.getElementById(name);
        audio.pause();
        audio.currentTime = 0;
        audio.play();
        toggleButton(name + "Button");
    }
    function toggleButton(buttonId) {
        console.log("Toggled " + buttonId);
    }
</script>
<h1>Check out this Flask piano (with 8 notes (it's not a good piano))</h1>
<div style="position: absolute; bottom: 0;">
<button id="left">"<-"</button>
{% for i in range(2, 10) %}
    {% set pitchName = "{}{}".format(string.ascii_uppercase[i%7], (i-2)//7 + 5) %}
    <button onclick={{ "playNote('" + pitchName + "')" }} class="key" id={{ pitchName + "Button" }}>
        {{ pitchName.upper() }}
    </button>
    <audio id={{ pitchName }} onended={{ "toggleButton('" + pitchName + "Button" +  "')"}}><source src={{ "static/{}.wav".format(pitchName) }}>No audio provided</audio>
{% endfor %}
<button id="right">"->"</button>
</div>
</body>
</html>